.list__item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
	padding: 5px;
	transition: .2s linear;
	&:hover {
		box-shadow: 0 0 5px 5px #DBDBFF4C;
		background-color: #DBDBFF4C;
	}
	.task {
		display: flex;
		align-items: center;

		.task__name {
			font-size: 16px;
			margin: 0 0 0 20px;
		}

		.arrow__open {
			width: 5px;
			height: 5px;
			border-bottom: 2px solid #000;
			border-left: 2px solid #000;
			transform: rotate(135deg);
		}

		.arrow__close {
			width: 5px;
			height: 5px;
			border-bottom: 2px solid #000;
			border-left: 2px solid #000;
			transform: rotate(-135deg);
		}
	}
}
